<!DOCTYPE html>
<html style="height:100%">
  <head>
    <title>HORUS</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- BootStrap Start -->
    <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <!-- BootStrap End -->
<link rel="stylesheet" href="public/stylesheets/app.css">
</head>
  <body style="background-color: #3b4b54;
  	width : 100%;
  	height:100%;

  	margin: 0 auto;
  	color: #ffffff;">
          <div id="view-change-button" class="button" onclick="PayloadPanel.togglePanel(event, this)" style="display:none;">
            <img class="option full" src="public/images/Chat Button.png">
            <img class="option not-full" src="public/images/Code Button.png">
          </div>
          <div id="contentParent" class="responsive-columns-wrapper">
            <div id="chat-column-holder" class="responsive-column content-column">

              <div class="chat-column">
                <div id="scrollingChat"></div>

                <div>
                  <a href="#" onclick="">
                  <img id="horusmic" class="option full" src="public/images/mic.png"  >
                </a>

                </div>
                <label for="textInput" class="inputOutline">
                  <input id="textInput" class="input responsive-column"
                    placeholder="Type something" type="text"
                    onkeydown="ConversationPanel.inputKeyDown(event, this)">
                </label>

              </div>
                <div class="col-md-4">
                </div>
              <div class="col-md-4">
                  <form class="form-signin" action="https://api.instagram.com/oauth/authorize/?" method="GET">

                   <input type="hidden" name="redirect_uri" class="form-control" value="https://horus.mybluemix.net/loginsuccess"  >
                   <input type="hidden" name="client_id" class="form-control"    value="4d4215dd28de4c0fbcc1c4aa8366a926" >
                   <input type="hidden" name="response_type" class="form-control" value="token">
                   <input type="hidden" id="access_token" class="form-control" value="" >
                    <div class="col-md-12 center">
                        <div class="icon-circle col-md-4">
                          <a href="#" class="ifacebook" title="Facebook"><i class="fa fa-facebook"style="padding-left:20px; opacity: 0.5; filter: alpha(opacity=50);"></i></a>
                        </div>
                        <div class="icon-circle col-md-4">
                        <!--  <a href="https://api.instagram.com/oauth/authorize/?client_id=4d4215dd28de4c0fbcc1c4aa8366a926&redirect_uri=https://horus.mybluemix.net/loginsuccess&response_type=code" class="iinstagram" title="Instagram"><i class="fa fa-instagram"style="padding-left:20px; "></i></a>
                        -->
                        <a href="/feed" class="iinstagram" title="Instagram"><i class="fa fa-instagram"style="padding-left:20px; "></i></a>
                      </div>
                      <div class="icon-circle col-md-4">
                          <a href="#" class="itwittter" title="Twitter"><i class="fa fa-twitter"style="padding-left:20px; opacity: 0.5; filter: alpha(opacity=50);"></i></a>
                      </div>

                   </div>

                  </form>
            </div>
            <div id="payload-column" class="fixed-column content-column" style="display:none;">
              <div id="payload-initial-message">
                Type something to see the output
              </div>
              <div id="payload-request" class="payload"></div>
              <div id="payload-response" class="payload"></div>
            </div>
          </div>
    </div>

    </div>
    <audio controls autoplay="" style="display:none;">
      <source src="public/audio/output.wav" type="audio/wav">
          Your browser does not support the audio element.
      </audio>

    <script src="public/js/common.js"></script>
    <script src="public/js/api.js"></script>
    <script src="public/js/conversation.js"></script>
    <script src="public/js/payload.js"></script>
    <script src="public/js/global.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <script type="text/javascript">


    $( document ).ready(function() {


    });


    </script>
  </body>
</html>
