<!DOCTYPE html>
<html>

  <head>
    <title>Asmerea</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/stylesheets/style.css">
  </head>

  <body>
    <div class = "container">
    <div class = "banner">
      <p class = "appTitle">
        Recognize Image
      </p>
      <div style="text-align:center;  ">
        <form action="/rec"  method="POST">
          <input type="submit" class="btn-instagram" value="Recognize">
            <b>Recognize Image</b> with Instagram
          </a>
        </form>



      </div>
    </div>
    <script type="text/javascript">
    var url = window.location.href;
    console.log(url);
    </script>

  </body>
</html>
